.link {
  text-decoration: none;
  color: #63b5b3;
}

.scrollAuto {
  overflow: auto;
}

@font-face {
  font-family: "ReadexPro-Regular";
  src: url("./fonts/ReadexPro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "ReadexPro-SemiBold";
  src: url("./fonts/ReadexPro-SemiBold.ttf") format("truetype");
}

.customFont {
  font-family: "ReadexPro-SemiBold";
}
